.detail{
    width: 100vw;
    margin: 0;
    background-color: yellowgreen;
}

.detail main{
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    padding: 0;
}

.detail main .nav{
    width: fit-content;
    height: 1rem;
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.detail main .nav a{
    text-decoration: none;
    color: black;
}

.detail main .productdetail{
    width: 90vwyh;
    height: fit-content;
    margin: 2rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.detail main .productdetail .images{
    width: 50%;
}

.detail main .productdetail .images img{
    width: 95%;
    height: 20rem;
}

.detail main .productdetail .images span{
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.detail main .productdetail .images span img{
    width: 10rem;
    height: 7rem;
}

.detail main .productdetail .description{
    width: 50%;
}

.detail main .productdetail .description .counter{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.detail main .productdetail .description .counter span{
    width: 13%;
    height: 2rem;
    background-color: gray;
    display: flex;
    justify-content: center;
    align-items: center;
}

.detail main .productdetail .description .counter span input{
    width: 1.7rem;
    margin: 0;
    height: 80%;
    background-color: rgb(219, 219, 219);
    border: 0.5px solid black;
}

.detail main .productdetail .description .counter span button{
    width: 3rem;
    margin: 0;
    height: 100%;
    background-color: rgb(219, 219, 219);
    border: none;
}

.detail main .productdetail .description .counter .btn{
    width: 70%;
    border: none;
    color: white;
    background-color: var(--state-color-error);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.3rem;
}

.detail main .tabs{
    width: 93%;
    margin: 0;
    height: fit-content;
}

@media screen and (max-width:750px){
    body{
        width: 100dvw;
        margin: 0;
        overflow-x: hidden;
    }
    
    .detail{
        width: 95vw;
        margin: 0;
        overflow-x: hidden;
    }
    
    .detail main{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-between;
        padding: 2.5rem;
        width: 95%;
        margin: auto;
    }
    
    .detail main .nav{
        height: 1rem;
        margin: 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
    .detail main .nav a{
        text-decoration: none;
        color: black;
    }
    
    .detail main .productdetail{
        width: 90%;
        height: fit-content;
        margin: 2rem 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: auto;
        margin-top: 3rem;
        margin-bottom: 3rem;
    }
    
    .detail main .productdetail .images{
        width: 45%;
    }
    
    .detail main .productdetail .images img{
        width: 95%;
        height: 20rem;
    }
    
    .detail main .productdetail .images span{
        width: 90%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
    .detail main .productdetail .images span img{
        width: 10rem;
        height: 7rem;
    }
    
    .detail main .productdetail .description{
        width: 45%;
    }

    .detail main .productdetail .description h1{
        font-size: 1.5rem;
    }

    .detail main .productdetail .description p{
        width: 100%;
    }

    .detail main .productdetail .description p.dp{
        overflow-y: scroll;
        height: 10rem;
    }
    
    .detail main .productdetail .description .counter{
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
    .detail main .productdetail .description .counter span{
        width: 13%;
        height: 2rem;
        background-color: gray;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .detail main .productdetail .description .counter span input{
        width: 1.7rem;
        margin: 0;
        height: 80%;
        background-color: rgb(219, 219, 219);
        border: 0.5px solid black;
    }
    
    .detail main .productdetail .description .counter span button{
        width: 3rem;
        margin: 0;
        height: 100%;
        background-color: rgb(219, 219, 219);
        border: none;
    }
    
    .detail main .productdetail .description .counter .btn{
        width: 70%;
        border: none;
        color: white;
        background-color: var(--state-color-error);
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0.3rem;
    }

    .detail main .forthSection {
        height: fit-content;
        width: 90%;
        margin: auto;
        margin-top: 2rem;
        margin-bottom: 2rem;
    }

    .detail main .tabs{
        width: 93%;
        margin: auto;
        height: fit-content;
    }

    .detail main .tenSection{
        width: 95%;
        height: fit-content;
        margin: auto;
    }

    .detail footer{
        width: 100dvw;
    }

}

@media screen and (max-width: 450px){
    body{
        width: 100vw;
        margin: 0;
        overflow-x: hidden;
    }

    .detail main .productdetail{
        width: 90%;
        flex-direction: column;
    }

    .detail main .productdetail .description{
        width: 95%;
    }

    .detail main .productdetail .images{
        width: 95%;
    }
    
    .tab button {
        font-size: 14px !important;
    }
}