body {
  margin: 0;
  line-height: normal;
}

:root {
  /* fonts */
  --font-manrope: Manrope;

  /* font sizes */
  --font-size-xs: 12px;
  --font-size-base: 16px;
  --font-size-lg: 18px;
  --font-size-sm: 14px;
  --font-size-9xl: 28px;
  --font-size-3xl: 22px;
  --font-size-lgi: 19px;
  --font-size-13xl: 32px;
  --font-size-7xl: 26px;
  --font-size-25xl: 44px;
  --font-size-16xl: 35px;

  /* Colors */
  --neutral-white: #fff;
  --secondary-color-100: #152039;
  --black-color-90: #1b1f27;
  --black-color: #151313;
  --black-color-100: #0a0d14;
  --secondary-color-5: #f3f4f5;
  --primary-color-100: #9c1515;
  --color-brown: #c23b3b;
  --secondary-color-500: #ced4da;
  --secondary-color-70: #5c6375;
  --color-gainsboro-100: #d9d9d9;
  --secondary-color-80: #444d61;
  --neutral-20: #ebd0d0;
  --color-rosybrown-100: #db9696;
  --color-rosybrown-200: #c87d7d;
  --state-color-error: #ff0318;
  --primary-color-80: #b04444;

  /* Gaps */
  --gap-56xl: 75px;
  --gap-5xs: 8px;
  --gap-mini: 15px;
  --gap-xl: 20px;
  --gap-sm: 14px;
  --gap-6xs: 7px;
  --gap-3xs: 10px;
  --gap-20xl: 39px;
  --gap-25xl: 44px;
  --gap-46xl: 65px;
  --gap-6xl: 25px;
  --gap-10xs: 3px;
  --gap-3xl: 22px;
  --gap-lg: 18px;
  --gap-8xs: 5px;
  --gap-2xl: 21px;
  --gap-11xl: 30px;
  --gap-14xl: 33px;
  --gap-12xl: 31px;
  --gap-11xs: 2px;
  --gap-49xl: 68px;
  --gap-9xs: 4px;
  --gap-29xl: 48px;

  /* Paddings */
  --padding-5xs: 8px;
  --padding-xl: 20px;
  --padding-9xs: 4px;
  --padding-21xl: 40px;
  --padding-61xl: 80px;
  --padding-8xs: 5px;
  --padding-12xs: 1px;
  --padding-mini: 15px;
  --padding-xs: 12px;
  --padding-2xs: 11px;
  --padding-34xl: 53px;
  --padding-smi: 13px;
  --padding-16xl: 35px;
  --padding-7xl: 26px;
  --padding-15xl: 34px;
  --padding-6xs: 7px;
  --padding-3xs: 10px;
  --padding-4xs: 9px;
  --padding-lg: 18px;
  --padding-32xl: 51px;
  --padding-37xl: 56px;

  /* Border radiuses */
  --br-8xs: 5px;
}

