.login1 {
  position: absolute;
  top: 89px;
  left: 329px;
  font-size: var(--font-size-7xl);
  color: var(--secondary-color-100);
}

form a{
  text-decoration: none;
  color: #ff0318;
}

.instance-child,
.welcome-enter-your {
  position: absolute;
  top: 135px;
  left: 273px;
}
.instance-child {
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-3xs);
  border: 1px solid var(--black-color-10);
  box-sizing: border-box;
}
.frame-child {
  width: 24px;
  position: relative;
  height: 24px;
}
.login-with-google {
  position: relative;
  font-weight: 500;
}
.group-parent {
  position: absolute;
  height: 50%;
  width: 44.44%;
  top: 25%;
  right: 27.89%;
  bottom: 25%;
  left: 27.67%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: var(--gap-6xl);
}
.rectangle-parent {
  position: absolute;
  top: 184px;
  left: 153px;
  width: 450px;
  height: 50px;
  font-size: var(--font-size-lg);
  color: var(--secondary-color-100);
}
.login-child {
  position: absolute;
  top: 0;
  right: 0;
  background-color: var(--primary-color-100);
  width: 684px;
  height: 1024px;
}
.create-account {
  position: relative;
  line-height: 150%;
  font-weight: 600;
}
.instance-item {
  width: 24px;
  position: relative;
  height: 24px;
  object-fit: contain;
  display: none;
}
.create-account-parent {
  position: absolute;
  top: 564px;
  left: 156px;
  border-radius: var(--br-8xs);
  background-color: var(--primary-color-100);
  width: 450px;
  height: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs);
  box-sizing: border-box;
  gap: var(--gap-3xs);
  font-size: var(--font-size-lg);
  color: var(--white-color);
}
.email-address {
  position: relative;
  line-height: 16px;
  font-weight: 500;
}
.text {
  position: absolute;
  top: 25%;
  left: 3.33%;
  line-height: 20px;
  font-weight: 200;
}
.text-field {
  width: 450px;
  position: relative;
  border-radius: var(--br-10xs);
  background-color: var(--white-color);
  border: 1px solid var(--color-lightgray);
  box-sizing: border-box;
  height: 50px;
  font-size: var(--font-size-sm);
  color: var(--color-lightslategray);
}
.text-field-with-label {
  position: absolute;
  top: 321px;
  left: 153px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xs);
}
.group-icon {
  position: absolute;
  height: 32%;
  width: 4.27%;
  top: 34%;
  right: 3.95%;
  bottom: 34%;
  left: 91.78%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}

.text-field-with-label1 {
  position: absolute;
  top: 415px;
  left: 153px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xs);
}

.frame-item,
.or {
  position: relative;
}

.frame-item {
  width: 200px;
  max-height: 100%;
}

.or {
  font-weight: 300;
}

.vector-parent {
  position: absolute;
  top: 259px;
  left: 156px;
  width: 447px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-3xs);
  color: var(--grey-color);
}

.span {
  font-size: var(--font-size-lg);
}

.dont-have-an-account {
  font-weight: 500;
}

.sign-up {
  font-size: 20px;
  color: var(--primary-color-100);
}

.dont-have-an-container {
  position: absolute;
  top: 623px;
  left: 251px;
  color: #151313;
}

.forgot-password {
  position: absolute;
  top: 501px;
  left: 467px;
  font-weight: 500;
  color: var(--primary-color-100);
}

.radio-icon {
  width: 20px;
  position: relative;
  height: 20px;
  overflow: hidden;
  flex-shrink: 0;
}

.label {
  position: relative;
  line-height: 20px;
}
.radio-button {
  position: absolute;
  top: 503px;
  left: 159px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-5xs);
}
.please-login-into,
.welcome {
  position: absolute;
  left: 856px;
  color: var(--white-color);
}
.welcome {
  top: 393px;
  font-size: 64px;
  line-height: 131.14%;
  font-weight: 800;
}
.please-login-into {
  top: 497px;
  font-size: var(--font-size-7xl);
  font-weight: 500;
}
.login {
  width: 100%;
  position: relative;
  background-color: var(--white-color);
  height: 1024px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-base);
  color: var(--black-color-90);
  font-family: var(--font-manrope);
}
