.profile .main{
  width: 100%;
  height: fit-content;
  margin: 0;
  padding: 1rem 0.5rem;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
}

.profile .main aside{
  width: 20vw;
  height: 100vh !important;
  background-color: #f5f3f3;
  padding: 1rem ;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.profile .main aside .dropDown{
  border: none;
  margin: 2.5rem 0 0;
  font-size: 1rem;
  padding: 0;
}

.profile .main aside .dropDown .drop-content{
  height: fit-content;
}

.profile .main aside .dropDown .drop-content a li{
  margin: 1rem 0rem;
}

.profile .main aside a{
  color: black;
  text-decoration: none;
  margin: 1rem 0rem;
}

.profile .main aside .logout{
  border: none;
  background-color: #9c1515;
  padding: 0.5rem 1.9rem;
}

.profile .main aside .logout a{
  color: white;
}

.profile .main main{
  width: 85vw;
  height: fit-content;
  margin: 0;
  padding: 1rem;
}

.profile .main main form{
  margin: 0;
  width: 90%;
}

.profile .main main form .header{
  margin: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.profile .main main form .form{
  width: 100%;
  margin: 0;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.profile .main main form .form div{
  width: 47%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  margin: 0;
}

.profile .main main form .form div span{
  width: 100%;
  margin: 1rem 0;
}

.profile .main main form .form div span label{
  display: block;
  margin: 0rem 0 0.7rem;
}

.profile .main main form .form div span input{
  display: block;
  width: 100%;
  height: 1.7rem;
}

.profile .main main form .form2{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.profile .main main form .form2 div{
  width: 100%;
  margin: 1.3rem 0 0;
}

.profile .main main form .form2 div input{
  width: 100%;
  height: 1.7rem;
}

.profile .main main form .form2 div span label{
  display: block;
  margin: 0rem 0 0.7rem;
}

.profile .main main form button.submit{
  border: none;
  background-color: #9c1515;
  padding: 0.9rem 5.5rem;
  color: white;
  margin-top: 3rem;
}

.cpass{
  margin: 3rem 0;
  font-size: 1.8rem;
}


.cpass h3{
  font-weight: 400;
}

@media all and (max-width:450px){
  .profile .main aside{
    display: none;
  }
}