.product .main{
    width:96%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin: 1rem 0 3rem;
}

.product .main aside{
    width: 30%;
    height: fit-content;
    padding: 0.5rem 1rem;
}

.product .main aside h3{
    font-size: 1.2rem;
    padding: 0px;
    margin: 0;
}

.product .main aside a{
    text-decoration: none;
    color: black;
}

.product .main aside a li{
    margin: 1.2rem 0;
}

.product .main main .forthSection{
    height: fit-content;
}

.product .main main .forthSection .product{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.product .main main .forthSection .product span{
    width: 12%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.product .main main .forthSection .productList{
    height: fit-content;
    display: grid;
    gap: 1rem;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.product .main main .forthSection .productList .pro{
    width: 100%;
}

@media screen and (max-width: 450px){
    .product .main aside{
        display:none;
    }

    .product .main main .forthSection{
        height: fit-content !important;
        overflow: visible;
    }

    .product .main main .forthSection .productList{
        height: fit-content;
        display: grid;
        gap: 1rem;
        grid-template-columns: 1fr;
        overflow: visible;
    }
    .product .main main .forthSection .productList .pro{
        width: 100%;
        height: fit-content;

    }

}