body{
  width: 100%;
  margin: 0px;
  height: 100vh;
  overflow: hidden;
}

.signup{
  width: 100%;
  height: 100%;
  margin: 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.signup .whitePart{
  width: 70%;
  height: 100%;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.signup .whitePart h2{
  margin: 0 0 0.5rem;
}

.signup .whitePart .google{
  width: 70%;
  margin: 0 0 0.5rem;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.signup .whitePart .google img{
  width: 3rem;
  height: 3rem;
  margin-right: 0.5rem;
  object-fit: contain;
}

.signup .whitePart .or{
  width: 70%;
  height: 1rem;
  margin: 1rem 0rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.signup .whitePart .or span{
  height: 0.1rem;
  width: 50%;
  background-color: black;
}

.signup .whitePart form{
  width: 70%;
  height: 50vh;
  padding: 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin:1rem 0rem;
}

.signup .whitePart form div{
  width: 100%;
  margin: 0.5rem 0rem;
}

.signup .whitePart form div button{
  width: 100%;
  border: none;
  background-color: #9c1515;
  margin: 0px;
  padding: 0.7rem 0px;
  border-radius: 0.3rem;
  margin-top: 0.5rem;
  color: white;
}

.signup .whitePart form div input{
  width: 98.7%;
  height: 2rem;
  margin: 0px;
}

.signup .whitePart form p{
  margin: 0;
}

.signup .whitePart form p a{
  text-decoration: none;
  color: #ff0318;
}

.signup .redPart{
  width: 35%;
  height: 100%;
  background-color: #9c1515;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 0rem 4rem;
  box-sizing: border-box;
  color: white;
}


.signup .redPart h2{
  font-size: 3rem;
  letter-spacing: 0.3rem;
  margin: 0px;
}

.verify .whitePart form{
  height: 12rem;
}

.verify .whitePart  form .inputs{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.verify .whitePart  form .inputs input{
  width: 3rem !important;
  height: 3rem !important;
  margin: 0.5rem;
  border-radius: 0.2rem;
  border: 0.01rem solid black;
}

.login .whitePart form{
  height: 15rem;
}

.login .whitePart  form .remember{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.login .whitePart  form .remember span{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.login .whitePart  form .remember span input{
  width: 1.5rem;
}

.forgot .whitePart form{
  height: 10rem;
}

.reset .whitePart form{
  height: 6rem;
}

@media screen and (max-width: 450px){

  .signup .whitePart{
    width: 100%;
  }
  
  .signup .whitePart .google{
    margin: 0 0 0.5rem;
  }

  .signup .redPart{
    display: none;
  }
}