{% extends "base.html" %}
{% load static %}
{% block title %}Address{% endblock %}
{% block content %}
  <link rel="stylesheet" href="{% static 'core/css/style.css' %}">
  <link rel="stylesheet" href="{% static 'core/css/myprofile.css' %}">
  <link rel="stylesheet" href="{% static 'core/css/address.css' %}">
  <link rel="stylesheet" href="{% static 'core/css/global.css' %}">
  <div class="landing-page  profile address">
    <div class="main">
      <aside>
        <div class="nav">
          <a href="">Home</a>
          &gt;
          <a href=""  class="active">Account</a>
        </div>
        <ul>
          <h4>Manage My Account</h4>
          <a href="">
            <li>My Profile</li>
          </a>
          <a href="" class="active">
            <li>Address Book</li>
          </a>
        </ul>
        <ul>
          <a href="">
            <li>My Orders</li>
          </a>
        </ul>
        <ul>
          <a href="">
            <li>Saved Items</li>
          </a>
        </ul>

        <button>
          <a href="">
            <img src="{% static 'core/images/tablerlogout.svg' %}" alt="">
            Log Out
          </a>
        </button>
      </aside>
      <main>
        <form action="" method="post">
          <div class="newAddress">
            <span>
            </span>
            <button type="reset">&plus; Add New Address</button>
          </div>
          <div class="form">
            <div>
              <span>
                <label for="">House/Street Number</label>
                <input type="text" placeholder="25 elijiji housing estate">
              </span>
              <span>
                <label for="">L.G.A</label>
                <input type="text" placeholder="Obio Akpor">
              </span>
              <span>
                <label for="">State</label>
                <input type="text" placeholder="Rivers">
              </span>
              <span class="checkbox">
                <input type="checkbox">
                <label for="">Set as default shipping address</label>
              </span>
            </div>
            <div>
              <span>
                <label for="">Suite, Unit <small>(optional)</small></label>
                <input type="text" placeholder="Enter Suite, Unit">
              </span>
              <span>
                <label for="">City</label>
                <input type="text" placeholder="Woji">
              </span>
              <span>
                <label for="">Zip Code</label>
                <input type="number" placeholder="234654">
              </span>
            </div>
          </div>
          <button type="submit" class="submit">Save Address</button>
        </form>
      </main>
    </div>
  </div>
{% endblock %}