{% extends "base.html" %}
{% load static %}
{% block title %}Cart{% endblock %}
{% block content %}
  <link rel="stylesheet" href="{% static 'core/css/cart.css' %}">
  <div class="landing-page cart">
    <main>
        <div class="emptyCart">
            <h1>Your Cart is Empty</h1>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. 
              Nisi hic facere nam nemo nulla maxime distinctio tenetur 
              nesciunt voluptas quisquam, dolore architecto at voluptate
            </p>
            <button><a href="">Shop Now</a></button>
        </div>
        <section class="cartItem">
          <div class="div">
              <span class="nav">
                  <a href="">Home</a>
                  <h1>&gt;</h1>
                  <a href="" style="color: #ff0318;">Shopping Cart</a>
              </span>
              <span class="shop">
                <h2>Cart</h2>
                <a href="">Return to Shop</a>
              </span>
          </div>
          <table class="first web">
            <tr>
              <th>Product</th>
              <th>Price</th>
              <th>Quantity</th>
              <th>Subtotal</th>
            </tr>
            <tr>
              <td class="one">
                <span>
                  <sup>x</sup>
                  <img src="" alt="">
                </span>
                <p>Power Engine Drill</p>
              </td>
              <td><del>N</del>300,000</td>
              <td>
                <Button>+</Button>
                <input type="text" name="" id="" placeholder="1">
                <button>-</button>
              </td>
              <td><del>N</del>300,000</td>
            </tr>
            <tr>
              <td class="one">
                <span>
                  <sup>x</sup>
                  <img src="" alt="">
                </span>
                <p>Power Engine Drill</p>
              </td>
              <td><del>N</del>300,000</td>
              <td>
                <Button>+</Button>
                <input type="text" name="" id="" placeholder="1">
                <button>-</button>
              </td>
              <td><del>N</del>300,000</td>
            </tr>
          </table>
          <table class="first mobile">
            <tr>
              <td class="one">
                <span>
                  <img src="" alt="">
                </span>
              </td>
              <td class="two">
                <p>Power Engine Drill</p>
                <span>
                  <p><del>N</del>300,000</p>
                  <span class="btn">
                    <Button>+</Button>
                    <input type="text" name="" id="" placeholder="1">
                    <button>-</button>
                  </span>
                </span>
              </td>
            </tr>
            <td class="one">
              <span>
                <img src="" alt="">
              </span>
            </td>
            <td class="two">
              <p>Power Engine Drill</p>
              <span>
                <p><del>N</del>300,000</p>
                <span class="btn">
                  <Button>+</Button>
                  <input type="text" name="" id="" placeholder="1">
                  <button>-</button>
                </span>
              </span>
            </td>
          </tr>
          </table>
          <div class="second">
            <div>
              <span>
                <h3>Cart Total</h3>
                <p>Sub total</p>
              </span>
              <p><del>N</del>600,00</p>
            </div>
            <hr>
            <div>
              <p>Shipping</p>
              <p>Free</p>
            </div>
            <hr>
            <div>
              <p><b>Total</b></p>
              <p><b>600,00</b></p>
            </div>
          </div>
          <button class="checkout"><a href="">Proceed to Checkout</a></button>
        </section>
    </main>
  </div>
{% endblock %}