<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />
    <title>Forgot Password</title>
    <link rel="stylesheet" href="../css/global.css" />
    <link rel="stylesheet" href="../css/signup.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap"
    />
  </head>
  <body>
    <div class="signup forgot">
      <div class="whitePart">
        <h2>Forgot Password</h2>
        <p>Don't worry. We'll send you reset instructions</p>
        <form action="" method="post">
          <div>
            <label for="">Email address</label>
            <input type="email"  placeholder="adaisagil@gmail.com">
          </div>
          <div>
            <button>Reset Password</button>
          </div>
          <p><a href="" style="color: black; font-weight: 700;">&larr;</a> I remember my password</p>
        </form>
      </div>
      <div class="redPart">
        <h2>Welcome!</h2>
        <p>Please login into your new account.</p>
      </div>
    </div>
  </body>
</html>
