{% extends "base.html" %}
{% load static %}
{% block title %}Home{% endblock %}
{% block content %}
  <link rel="stylesheet" href="{% static 'core/css/global.css' %}">
    <main>
      <section class="firstSection">
        <div>
          <h1>Empowering Your Industry with Precision Machinery</h1>
          <p>
            Unleash the Power of Innovation with Instruments Bazzar, your
            premier destination for cutting-edge machinery and equipment.
          </p>
          <button><a href="shop/" style="text-decoration: none; color: white;">Shop Now &rarr;</a></button>
        </div>
      </section>
      <section class="secondSection">
        <div class="icons">
          <img src="{% static 'core/images/icon.svg' %}"  alt=""/>
            <span>
              <h3>Free Shipping</h3>
              <p>Free shipping for orders over <br> <del>N</del>700,00</p>
            </span>
        </div>
        <div class="icons">
          <img src="{% static 'core/images/icon-1.svg' %}"  alt=""/>
          <span>
            <h3>Money Guaranty</h3>
            <p>Within 30 days for an exchange.</p>
          </dspan>
        </div>
        <div class="icons">
          <img src="{% static 'core/images/icon-2.svg' %}"  alt=""/>
            <span>
              <h3>Online Support</h3>
              <p>Standby customer service representatives.</p>
            </span>
        </div>
        <div class="icons">
          <img src="{% static 'core/images/icon-3.svg' %}" alt=""/>
            <span>
              <h3>Flexible Payments</h3>
              <p>Customer friendly payment options.</p>
            </span>
        </div>
      </section>
      <section class="thirdSection">
        <div class="div1">
          <h2>⚙️ Innovative Technology </h2>
          <p>Stay ahead of the curve with the latest technological advancements</p>
        </div>
        <div class="div2">
          <div class="div21">
            <h2>🔧 Unrivalled Precision</h2>
            <p>Our machinery sets the benchmark for precision and performance.</p>
          </div>
          <div class="div22">
            <h2>🌐 Global Reach, Local Touch</h2>
            <p>With a global presence and a commitment to local service, we deliver excellence wherever you are.</p>
          </div>
        </div>
      </section>
      <section class="forthSection">
        <div class="product">
          <span>
            <h2>Best Seller Products</h2>
            <p>
              Discover a comprehensive range of machinery and equipment tailored
              to your specific needs. Whether you're in manufacturing,
              construction, or any other industry, Instrument bazzar has the
              perfect solution for you.
            </p>
          </span>
          <button>View All &rarr;</button>
        </div>
        <div class="productList">
          <div class="pro">
            <img src="" alt="">
            <div class="slideline">
              <span class="active"></span>
              <span></span>
              <span></span>
            </div>
            <h6>Power Engine Drill</h6>
            <h5>
              <del>N</del>300,000
            </h5>
          </div>
          <div class="pro">
            <img src="" alt="">
            <div class="slideline">
              <span class="active"></span>
              <span></span>
              <span></span>
            </div>
            <h6>Power Engine Drill</h6>
            <h5>
              <del>N</del>300,000
            </h5>
          </div>
          <div class="pro">
            <img src="" alt="">
            <div class="slideline">
              <span class="active"></span>
              <span></span>
              <span></span>
            </div>
            <h6>Power Engine Drill</h6>
            <h5>
              <del>N</del>300,000
            </h5>
          </div>
          <div class="pro">
            <img src="" alt="">
            <div class="slideline">
              <span class="active"></span>
              <span></span>
              <span></span>
            </div>
            <h6>Power Engine Drill</h6>
            <h5>
              <del>N</del>300,000
            </h5>
          </div>
        </div>
      </section>
      <section class="fifthSection">
        <h1>Engineered for Excellence</h1>
        <span class="timer">
          <span>
            <h6>4</h6>
            <p>Days</p>
          </span>
          <span>
            <h6>23</h6>
            <p>Hours</p>
          </span>
          <span>
            <h6>59</h6>
            <p>Minutes</p>
          </span>
          <span>
            <h6>35</h6>
            <p>Seconds</p>
          </span>
        </span>
        <button>Buy Now &rarr;</button>
      </section>
      <section class="forthSection">
        <div class="product">
          <span>
            <h2>Featured Products</h2>
            <p>
              Discover a comprehensive range of machinery and equipment
              tailored to your specific needs. Whether you're in
              manufacturing, construction, or any other industry, Instrument
              bazzar has the perfect solution for you.
            </p>
          </span>
          <button>View All &rarr;</button>
        </div>
        <div class="productList">
          <div class="pro">
            <img src="" alt="">
            <div class="slideline">
              <span class="active"></span>
              <span></span>
              <span></span>
            </div>
            <h6>Power Engine Drill</h6>
            <h5>
              <del>N</del>300,000
            </h5>
          </div>
          <div class="pro">
            <img src="" alt="">
            <div class="slideline">
              <span class="active"></span>
              <span></span>
              <span></span>
            </div>
            <h6>Power Engine Drill</h6>
            <h5>
              <del>N</del>300,000
            </h5>
          </div>
          <div class="pro">
            <img src="" alt="">
            <div class="slideline">
              <span class="active"></span>
              <span></span>
              <span></span>
            </div>
            <h6>Power Engine Drill</h6>
            <h5>
              <del>N</del>300,000
            </h5>
          </div>
          <div class="pro">
            <img src="" alt="">
            <div class="slideline">
              <span class="active"></span>
              <span></span>
              <span></span>
            </div>
            <h6>Power Engine Drill</h6>
            <h5>
              <del>N</del>300,000
            </h5>
          </div>
        </div>
      </section>
      <section class="sixSection">
        <h1>
          Crazy discount for your 
          <span class="bold">first puchase </span>
          <span class="border">2CV6HOK</span> Use discount code in checkout.
        </h1>
      </section>
      <section class="forthSection seventhSection">
        <div class="product">
          <span>
            <h2>Categories</h2>
          </span>
          <button>View All &rarr;</button>
        </div>
        <div class="productList">
          <div class="pro cate">
            <img src="" alt="">
          </div>
          <div class="pro cate">
            <img src="" alt="">
          </div>
          <div class="pro cate">
            <img src="" alt="">
          </div>
          <div class="pro cate">
            <img src="" alt="">
          </div>
          <div class="pro cate">
            <img src="" alt="">
          </div>
        </div>
      </section>
      <section class="eightSection">
        <div class="revTop">
          <h3>Our Buyers Reviews</h3>
          <p>
            Discover a comprehensive range of machinery and equipment
            tailored to your specific needs. Whether you're in
            manufacturing, construction, or any other industry, Instrument
            bazzar has the perfect solution for you.
          </p>
        </div>
        <div class="revSlider">
          <div class="arrow">
            <img src="{% static 'core/images/frame-760.svg' %}" alt="">
          </div>
          <div class="revDetail">
            <div>
              <img src="{% static 'core/images/group-85.svg' %}" alt="">
              <img src="{% static 'core/images/group-85.svg' %}" alt="">
              <img src="{% static 'core/images/group-85.svg' %}" alt="">
              <img src="{% static 'core/images/group-85.svg' %}" alt="">
              <img src="{% static 'core/images/group-85.svg' %}" alt="">
            </div>
            <p>
              Lorem ipsum, dolor sit amet consectetur adipisicing elit. 
              Saepe quia eum sequi mollitia vero nobis deserunt perspiciatis 
              voluptatem placeat ducimus!
            </p>
            <p>Jane Martins</p>
          </div>
          <div class="revDetail">
            <div>
              <img src="{% static 'core/images/group-85.svg' %}" alt="">
              <img src="{% static 'core/images/group-85.svg' %}" alt="">
              <img src="{% static 'core/images/group-85.svg' %}" alt="">
              <img src="{% static 'core/images/group-85.svg' %}" alt="">
              <img src="{% static 'core/images/group-85.svg' %}" alt="">
            </div>
            <p>
              Lorem ipsum, dolor sit amet consectetur adipisicing elit. 
              Saepe quia eum sequi mollitia vero nobis deserunt perspiciatis 
              voluptatem placeat ducimus!
            </p>
            <p>Jane Martins</p>
          </div>
          <div class="revDetail">
            <div>
              <img src="{% static 'core/images/group-85.svg' %}" alt="">
              <img src="{% static 'core/images/group-85.svg' %}" alt="">
              <img src="{% static 'core/images/group-85.svg' %}" alt="">
              <img src="{% static 'core/images/group-85.svg' %}" alt="">
              <img src="{% static 'core/images/group-85.svg' %}" alt="">
            </div>
            <p>
              Lorem ipsum, dolor sit amet consectetur adipisicing elit. 
              Saepe quia eum sequi mollitia vero nobis deserunt perspiciatis 
              voluptatem placeat ducimus!
            </p>
            <p>Jane Martins</p>
          </div>
          <div class="arrow">
            <img src="{% static 'core/images/frame-758.svg' %}" alt="">
          </div>
        </div>
        <div class="dot">
          <div class="active"></div>
          <div></div>
          <div></div>
        </div>
      </section>
      <section class="nineSection">
        <img src="{% static 'core/images/image-1@2x.png' %}" alt="">
        <img src="{% static 'core/images/image-2@2x.png' %}" alt="">
        <img src="{% static 'core/images/image-4@2x.png' %}" alt="">
        <img src="{% static 'core/images/image-5@2x.png' %}" alt="">
        <img src="{% static 'core/images/image-6@2x.png' %}" alt="">
      </section>
      <section class="tenSection">
        <div class="one">
          <h3>Get our emails for info on new items, sales and more.</h3>
          <div>
            <input type="text" placeholder="Enter your email address here...">
            <button>Subscribe</button>
          </div>
          <p>
            By subscribing, you agree to our Terms & Conditions and Privacy
            & Cookies Policy
          </p>
        </div>
        <div class="two">
          <h2>Need Help?</h2>
          <h2>(+234) 803 5674 372</h2>
          <p>We are available 24/7</p>
        </div>
      </section>
    </main>


{% endblock %}