<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />
    <title>Login</title>
    <link rel="stylesheet" href="../css/global.css" />
    <link rel="stylesheet" href="../css/signup.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap"
    />
  </head>
  <body>
    <div class="signup login">
      <div class="whitePart">
        <h2>Login</h2>
        <p>Welcome Enter your details</p>
        <div class="google">
          <img src="../images/google.jpg" alt="">
          <h5>Login with Google</h5>
        </div>
        <div class="or">
          <span></span>
          OR
          <span></span>
        </div>
        <form action="" method="post">
        {% csrf_token %}
          <div>
            <label for="email">Email address</label>
            <input type="email" name="email" id="email" placeholder="Enter your Last name here">
          </div>
          <div>
            <label for="password">Password</label>
            <input type="password" name="password" id="password" placeholder="Enter your password here">
            {% if messages %}
              {% for message in messages %}
                <p style="color: #ff0318;">{{ message }}</p>
              {% endfor %}
            {% endif %}
          </div>
          <div class="remember">
            <span>
              <input type="radio" name="remember" id="remember" class="checkbox">
              <label for="remember">Remember Me</label>
            </span>
            <a href="">Forgot Password</a>
          </div>

          <div>
            <button>Login</button>
          </div>
          <p>Don't have an account? <a href="">Sign Up</a></p>
        </form>
      </div>
      <div class="redPart">
        <h2>Welcome!</h2>
        <p>Please login into your new account.</p>
      </div>
    </div>
  </body>
</html>
