{% extends "base.html" %}
{% load static %}
{% block title %}Orders detail{% endblock %}
{% block content %}
  <link rel="stylesheet" href="{% static 'core/css/style.css' %}">
  <link rel="stylesheet" href="{% static 'core/css/myprofile.css' %}">
  <link rel="stylesheet" href="{% static 'core/css/order-details.css' %}">
  <div class="landing-page  profile order-details">
    <div class="main">
        <aside>
            <div class="nav">
              <a href="">Home</a>
              &gt;
              <a href="">Account</a>
            </div>
            <button class="dropDown">Manage My Account</button>
            <ul class="drop-content">
              <a href="">
                <li>My Profile</li>
              </a>
              <a href="">
                <li>Address</li>
              </a>
            </ul>
            <a href="" class="active">My Orders</a>
            <a href="">Saved Items</a>
            <button class="logout">
              <a href="">
                <img src="{% static 'core/images/tablerlogout.svg' %}" alt="">
                Log Out
              </a>
            </button>
        </aside>
        <main>
            <div class="section nav">
                <a href="">&larr; Order Details</a>
            </div>
            <div class="section order-info">
                <span>
                    <h6>Order Information</h6>
                    <p>Order Number: TF-07846gh</p>
                    <p>Order Date : 24-08-2023</p>
                    <p>Tracking ID : 35624361096765787-167</p>
                </span>
            </div>
            <div class="section item-ordered">
                <div>
                    <h6>Item Ordered</h6>
                    <p class="status">Delivered</p>
                </div>
                <div class="mobileView">
                    <span class="item">
                        <img src="" alt="">
                        <span>
                            <h4>Power Engine Drill</h4>
                            <p><del>N</del>300,000</p>
                            <p>Quantity: 1</p>
                        </span>
                    </span>
                    <span class="btnlink">
                        <button><a href="">Buy Again</a></button>
                        <a href="">See Status</a>
                    </span>
                </div>
            </div>
            <div class="section delivery-info">
                <div>
                    <h6>Delivery Information</h6>
                    <p><b>Nmae: </b>Helen Uju</p>
                    <p><b>Phone Number: </b>+2345679987761</p>
                    <p><b>Email: </b>Adaisagirl"girl.com</p>
                    <p><b>Address: </b>25 elijiji housing estate, Woji. Port Harcourt.</p>
                </div>
                <div>
                    <h6>Payment Information</h6>
                    <p><b>Payment Method: </b>Bank Tranfer</p>
                    <p><b>Payment Details: </b>Sub-Total: <del>N</del>300,000</p>
                    <p><b>Delivery Fee: </b>Free</p>
                    <p><b>Total: </b><del>N</del> 300,000</p>
                </div>
            </div>
        </main>
    </div>
  </div>
{% endblock %}