{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Orders Details</title>
  <link rel="stylesheet" href="{% static 'core/css/index.css' %}">
  <link rel="stylesheet" href="{% static 'core/css/style.css' %}">
  <link rel="stylesheet" href="{% static 'core/css/myprofile.css' %}">
  <link rel="stylesheet" href="{% static 'core/css/order-details.css' %}">
</head>
<body>
  <div class="landing-page  profile order-details">
    <header>
      <section class="blueTop">
        <h3>SUMMER SALE FOR ALL HEAVY DUTY EQUIPMENT AND FREE INTERNATIONAL DELIVERY - OFF 50% SHOP NOW</h3>
      </section>
      <section class="whiteFirst">
        <div class="div1"></div>
        <div class="div2">Free Shipping Worldwide for all orders above <del>N</del>700,000. <span>Click and Shop Now.</span></div>
        <div class="div3">
          <h4>Order Tracking</h4>
          <select name="" id="">
            <option value="">English</option>
          </select>
          <select name="" id="">
            <option value="">NGN</option>
          </select>
        </div>
      </section>
      <section class="whiteSecond">
        <div class="logo">
          <img src="{% static 'core/images/logo@2x.png' %}" alt="">
        </div>
        <div class="search">
          <select name="" id="">
            <option value="">Category</option>
          </select>
          <input type="text" placeholder=" Search your favorite products here...">
          <button><img class="frame-child3" alt="" src="{% static 'core/images/group-1.svg' %}" /></button>
        </div>
        <div class="account">
          <img src="{% static 'core/images/linemdaccount.svg' %}" alt=""  class="userprofileimage">
          <img src="{% static 'core/images/group-5.svg' %}" alt="" class="fav">
          <span class="cart">
            <img src="{% static 'core/images/group-3.svg' %}" alt="">
            <p>0</p>
          </span>
        </div>
      </section>
    </header>
    <div class="main">
        <aside>
            <div class="nav">
              <a href="">Home</a>
              &gt;
              <a href="">Account</a>
            </div>
            <button class="dropDown">Manage My Account</button>
            <ul class="drop-content">
              <a href="">
                <li>My Profile</li>
              </a>
              <a href="">
                <li>Address</li>
              </a>
            </ul>
            <a href="" class="active">My Orders</a>
            <a href="">Saved Items</a>
            <button class="logout">
              <a href="">
                <img src="{% static 'core/images/tablerlogout.svg' %}" alt="">
                Log Out
              </a>
            </button>
        </aside>
        <main>
            <div class="section nav">
                <a href="">&larr; Order Details</a>
            </div>
            <div class="section order-info">
                <span>
                    <h6>Order Information</h6>
                    <p>Order Number: TF-07846gh</p>
                    <p>Order Date : 24-08-2023</p>
                    <p>Tracking ID : 35624361096765787-167</p>
                </span>
            </div>
            <div class="section item-ordered">
                <div>
                    <h6>Item Ordered</h6>
                    <p class="status">Delivered</p>
                </div>
                <div class="mobileView">
                    <span class="item">
                        <img src="" alt="">
                        <span>
                            <h4>Power Engine Drill</h4>
                            <p><del>N</del>300,000</p>
                            <p>Quantity: 1</p>
                        </span>
                    </span>
                    <span class="btnlink">
                        <button><a href="">Buy Again</a></button>
                        <a href="">See Status</a>
                    </span>
                </div>
            </div>
            <div class="section delivery-info">
                <div>
                    <h6>Delivery Information</h6>
                    <p><b>Nmae: </b>Helen Uju</p>
                    <p><b>Phone Number: </b>+2345679987761</p>
                    <p><b>Email: </b>Adaisagirl"girl.com</p>
                    <p><b>Address: </b>25 elijiji housing estate, Woji. Port Harcourt.</p>
                </div>
                <div>
                    <h6>Payment Information</h6>
                    <p><b>Payment Method: </b>Bank Tranfer</p>
                    <p><b>Payment Details: </b>Sub-Total: <del>N</del>300,000</p>
                    <p><b>Delivery Fee: </b>Free</p>
                    <p><b>Total: </b><del>N</del> 300,000</p>
                </div>
            </div>
        </main>
    </div>
    <footer>
      <div class="top">
        <div class="logo">
          <img src="{% static 'core/images/logo-1@2x.png' %}" alt="">
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. 
            Quas dicta obcaecati, laborum aliquid vel ratione repellat 
            autem ab facilis in.
          </p>
          <p>(+234) 8035674372 - Info@Instrumentbazzar.com</p>
        </div>
        <div class="links">
          <span>
            <div>
              <h5>Information</h5>
              <a href="">About us</a>
              <a href="">Return Policy</a>
              <a href="">Terms & Conditions</a>
              <a href="">Help</a>
            </div>
            <div>
              <h5>Account</h5>
              <a href="">Dashboard</a>
              <a href="">My Orders</a>
              <a href="">My Wishlist</a>
              <a href="">Track my Order</a>
            </div>
          </span>
          <span>
            <div>
              <h5>Shop</h5>
              <a href="">Discount</a>
              <a href="">Latest products</a>
              <a href="">Best Sellers</a>
            </div>
            <div>
              <h5>Categories</h5>
              <a href="">Industrial</a>
              <a href="">Medical & Pharmaceutical</a>
              <a href="">Educational</a>
            </div>
          </div>
          </span>
      </div>
      <div class="bottom">
        <h5>2023 Instrument bazzar <span>All Right Reserved</span></h5>
      </div>
    </footer>
  </div>
</body>
</html>