{% extends "base.html" %}
{% load static %}
{% block title %}All Products{% endblock %}
{% block content %}
  <link rel="stylesheet" href="{% static 'core/css/details.css' %}">
  <link rel="stylesheet" href="{% static 'core/css/tabs.css' %}">
  <div class="landing-page detail">
    <main>
      <section class="nav">
          <a href="">Home</a>
          <h1>&gt;</h1>
          <a href="" style="color: #ff0318;">Product page</a>
      </section>
      
      <div class="productdetail">
          <div class="images">
            {% for image in product.product_image.all %}
              {% if image.is_feature %}
                <img src="{{ image.image.url }}" alt="{{ image.image.alt_text }}">
                <span>
                {% else %}
                    <img src="{{ image.image.url }}" alt="{{ image.image.alt_text }}">
                </span>
              {% endif %}
            {% endfor %}
          </div>
          <div class="description">
              <h1>{{ product.title }}</h1>
              <div class="pid"><span style="color: #ff0318;">Product id: </span>{{ product.id }}</div>
              <p>{{ product.description }}</p>
              <h4 style="color: #ff0318;"><del>N</del> {{ product.regular_price }}</h4>
              <p>Make an equire about the Product <a href="" style="color: #ff0318; text-decoration: none;">Click Here</a></p>
              <div class="counter">
                  <span>
                      <button>-</button>
                      <input type="number" placeholder="1">
                      <button>+</button>
                  </span>
                  <button class="btn">Add to cart <img src="{% static 'core/images/group-3.svg' %}" alt=""></button>
              </div>
          </div>
      </div>
      <div class="tabs">
        <div class="tab">
          <button class="tablinks" onclick="openCity(event, 'London')">Description</button>
          <button class="tablinks" onclick="openCity(event, 'Paris')">Specification</button>
          <button class="tablinks" onclick="openCity(event, 'Tokyo')">Reviews</button>
        </div>
        
        <div id="London" class="tabcontent">
          <h3>London</h3>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi suscipit ex quis esse doloribus, quidem sint nemo nihil eaque ipsa nulla</p>
        </div>
        
        <div id="Paris" class="tabcontent">
          <h3>Paris</h3>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi suscipit ex quis esse doloribus, quidem sint nemo nihil eaque ipsa nulla.</p> 
        </div>
        
        <div id="Tokyo" class="tabcontent">
          <h3>Tokyo</h3>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi suscipit ex quis esse doloribus, quidem sint nemo nihil eaque ipsa nulla.</p>
        </div>
      </div>
      <section class="forthSection">
        <div class="product">
          <span>
            <h2>Related Products</h2>
            <p>
              Discover a comprehensive range of machinery and equipment
              tailored to your specific needs. Whether you're in
              manufacturing, construction, or any other industry, Instrument
              bazzar has the perfect solution for you.
            </p>
          </span>
        </div>
        <div class="productList">
          <div class="pro">
            <img src="" alt="">
            <div class="slideline">
              <span class="active"></span>
              <span></span>
              <span></span>
            </div>
            <h6>Power Engine Drill</h6>
            <h5>
              <del>N</del>300,000
            </h5>
          </div>
          <div class="pro">
            <img src="" alt="">
            <div class="slideline">
              <span class="active"></span>
              <span></span>
              <span></span>
            </div>
            <h6>Power Engine Drill</h6>
            <h5>
              <del>N</del>300,000
            </h5>
          </div>
          <div class="pro">
            <img src="" alt="">
            <div class="slideline">
              <span class="active"></span>
              <span></span>
              <span></span>
            </div>
            <h6>Power Engine Drill</h6>
            <h5>
              <del>N</del>300,000
            </h5>
          </div>
          <div class="pro">
            <img src="" alt="">
            <div class="slideline">
              <span class="active"></span>
              <span></span>
              <span></span>
            </div>
            <h6>Power Engine Drill</h6>
            <h5>
              <del>N</del>300,000
            </h5>
          </div>
        </div>
      </section>
      <section class="nineSection">
        <img src="{% static 'core/images/image-1@2x.png' %}" alt="">
        <img src="{% static 'core/images/image-2@2x.png' %}" alt="">
        <img src="{% static 'core/images/image-4@2x.png' %}" alt="">
        <img src="{% static 'core/images/image-5@2x.png' %}" alt="">
        <img src="{% static 'core/images/image-6@2x.png' %}" alt="">
      </section>
      <section class="tenSection">
        <div class="one">
          <h3>Get our emails for info on new items, sales and more.</h3>
          <div>
            <input type="text" placeholder="Enter your email address here...">
            <button>Subscribe</button>
          </div>
          <p>
            By subscribing, you agree to our Terms & Conditions and Privacy
            & Cookies Policy
          </p>
        </div>
        <div class="two">
          <h2>Need Help?</h2>
          <h2>(+234) 803 5674 372</h2>
          <p>We are available 24/7</p>
        </div>
      </section>
    </main>
  </div>
  <script src="{% static 'core/js/tabs.js' %}"></script>
{% endblock %}