<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Details</title>
  <link rel="stylesheet" href="css/index.css">
  <link rel="stylesheet" href="css/details.css">
</head>
<body>
  <div class="landing-page detail">
    <header>
      <section class="blueTop">
        <h3>SUMMER SALE FOR ALL HEAVY DUTY EQUIPMENT AND FREE INTERNATIONAL DELIVERY - OFF 50% SHOP NOW</h3>
      </section>
      <section class="whiteFirst">
        <div class="div1"></div>
        <div class="div2">Free Shipping Worldwide for all orders above <del>N</del>700,000. <span>Click and Shop Now.</span></div>
        <div class="div3">
          <h4>Order Tracking</h4>
          <select name="" id="">
            <option value="">English</option>
          </select>
          <select name="" id="">
            <option value="">NGN</option>
          </select>
        </div>
      </section>
      <section class="whiteSecond">
        <div class="logo">
          <img src="images/logo@2x.png" alt="">
        </div>
        <div class="search">
          <select name="" id="">
            <option value="">Category</option>
          </select>
          <input type="text" placeholder=" Search your favorite products here...">
          <button><img class="frame-child3" alt="" src="images/group-1.svg" /></button>
        </div>
        <div class="account">
          <img src="images/linemdaccount.svg" alt=""  class="userprofileimage">
          <img src="images/group-5.svg" alt="" class="fav">
          <span class="cart">
            <img src="images/group-3.svg" alt="">
            <p>0</p>
          </span>
        </div>
      </section>
    </header>
    <main>
      <section class="nav">
          <a href="">Home</a>
          <h1>&gt;</h1>
          <a href="" style="color: #ff0318;">Product page</a>
      </section>
      <div class="productdetail">
          <div class="images">
              <img src="" alt="">
              <span>
                  <img src="" alt="">
                  <img src="" alt="">
                  <img src="" alt="">
              </span>
          </div>
          <div class="description">
              <h1>Power Engine Drill</h1>
              <div class="pid"><span style="color: #ff0318;">Product id</span> p1295695</div>
              <p>
                  Lorem ipsum dolor sit amet consectetur 
                  adipisicing elit. Accusamus sunt reprehenderit 
                  minima libero, ipsam voluptatibus? Natus ipsum 
                  nesciunt repellat saepe rerum excepturi consequuntur
                    laborum soluta voluptatem quod eligendi 
                    doloremque corrupti incidunt sunt modi 
                    explicabo beatae dolor necessitatibus numquam, 
                    repudiandae provident pariatur eum iusto! 
                  Aspernatur magni nesciunt non praesentium quasi 
                  repudiandae reprehenderit quas soluta beatae 
                  voluptas quos et veniam libero voluptates itaque 
                  aliquid, vitae perferendis accusamus! Voluptate 
                  animi vitae labore sunt minus blanditiis cumque 
                  reprehenderit tempore nam, aliquid nihil ad, 
                  possimus voluptates! Ea sunt voluptatum earum 
                  quam iusto sint 
                  distinctio cupiditate deserunt atque officia voluptatibus vero eius nam, quis hic totam?
              </p>
              <h4 style="color: #ff0318;"><del>N</del> 300,000</h4>
              <p>Make an equire about the Product <a href="" style="color: #ff0318; text-decoration: none;">Click Here</a></p>
              <div class="counter">
                  <span>
                      <button>-</button>
                      <input type="number" placeholder="1">
                      <button>+</button>
                  </span>
                  <button class="btn">Add to cart <img src="images/group-3.svg" alt=""></button>
              </div>
          </div>
      </div>
      <div class="tab">
        <div class="tabBtn">
          <button>Description</button>
          <button>Specification</button>
          <button>Reviews</button>
        </div>
        <div class="tabDetail">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi suscipit ex quis esse doloribus, quidem sint nemo nihil eaque ipsa nulla.</div>
        <div class="tabDetail">Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui saepe voluptates est quasi iusto facere placeat error, dolor consequuntur facilis nobis.</div>
        <div class="tabDetail">Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus laudantium maiores distinctio inventore! Quis, nostrum? Iste eaque sunt eveniet atque reprehenderit?</div>
      </div>
      <section class="forthSection">
        <div class="product">
          <span>
            <h2>Related Products</h2>
            <p>
              Discover a comprehensive range of machinery and equipment
              tailored to your specific needs. Whether you're in
              manufacturing, construction, or any other industry, Instrument
              bazzar has the perfect solution for you.
            </p>
          </span>
        </div>
        <div class="productList">
          <div class="pro">
            <img src="" alt="">
            <div class="slideline">
              <span class="active"></span>
              <span></span>
              <span></span>
            </div>
            <h6>Power Engine Drill</h6>
            <h5>
              <del>N</del>300,000
            </h5>
          </div>
          <div class="pro">
            <img src="" alt="">
            <div class="slideline">
              <span class="active"></span>
              <span></span>
              <span></span>
            </div>
            <h6>Power Engine Drill</h6>
            <h5>
              <del>N</del>300,000
            </h5>
          </div>
          <div class="pro">
            <img src="" alt="">
            <div class="slideline">
              <span class="active"></span>
              <span></span>
              <span></span>
            </div>
            <h6>Power Engine Drill</h6>
            <h5>
              <del>N</del>300,000
            </h5>
          </div>
          <div class="pro">
            <img src="" alt="">
            <div class="slideline">
              <span class="active"></span>
              <span></span>
              <span></span>
            </div>
            <h6>Power Engine Drill</h6>
            <h5>
              <del>N</del>300,000
            </h5>
          </div>
        </div>
      </section>
      <section class="nineSection">
        <img src="images/image-1@2x.png" alt="">
        <img src="images/image-2@2x.png" alt="">
        <img src="images/image-4@2x.png" alt="">
        <img src="images/image-5@2x.png" alt="">
        <img src="images/image-6@2x.png" alt="">
      </section>
      <section class="tenSection">
        <div class="one">
          <h3>Get our emails for info on new items, sales and more.</h3>
          <div>
            <input type="text" placeholder="Enter your email address here...">
            <button>Subscribe</button>
          </div>
          <p>
            By subscribing, you agree to our Terms & Conditions and Privacy
            & Cookies Policy
          </p>
        </div>
        <div class="two">
          <h2>Need Help?</h2>
          <h2>(+234) 803 5674 372</h2>
          <p>We are available 24/7</p>
        </div>
      </section>
    </main>
    <footer>
      <div class="top">
        <div class="logo">
          <img src="images/logo-1@2x.png" alt="">
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. 
            Quas dicta obcaecati, laborum aliquid vel ratione repellat 
            autem ab facilis in.
          </p>
          <p>(+234) 8035674372 - Info@Instrumentbazzar.com</p>
        </div>
        <div class="links">
          <span>
            <div>
              <h5>Information</h5>
              <a href="">About us</a>
              <a href="">Return Policy</a>
              <a href="">Terms & Conditions</a>
              <a href="">Help</a>
            </div>
            <div>
              <h5>Account</h5>
              <a href="">Dashboard</a>
              <a href="">My Orders</a>
              <a href="">My Wishlist</a>
              <a href="">Track my Order</a>
            </div>
          </span>
          <span>
            <div>
              <h5>Shop</h5>
              <a href="">Discount</a>
              <a href="">Latest products</a>
              <a href="">Best Sellers</a>
            </div>
            <div>
              <h5>Categories</h5>
              <a href="">Industrial</a>
              <a href="">Medical & Pharmaceutical</a>
              <a href="">Educational</a>
            </div>
          </div>
          </span>
      </div>
      <div class="bottom">
        <h5>2023 Instrument bazzar <span>All Right Reserved</span></h5>
      </div>
    </footer>
  </div>
</body>
</html>