{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />
    <title>Forgot Password</title>
    <link rel="stylesheet" href="../css/global.css" />
    <link rel="stylesheet" href="../css/signup.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap"
    />
  </head>
  <body>
    <div class="signup reset">
      <div class="whitePart">
        <h2>Check your Email Inbox</h2>
        <p style="text-align: center;">We sent a password reset link <br> to adaisagil@gmail.com</p>
        <form action="" method="post">
          <div>
            <button>Reset Password</button>
            <p style="text-align: center; margin: 0.5rem 0">Didn't receive the email? <a href=""style="font-weight: 600;">Click to resend</a></p>
          </div>
          <p><a href="" style="color: black; font-weight: 600;">&larr;</a> I remember my password</p>
        </form>
      </div>
      <div class="redPart">
        <h2>Welcome!</h2>
        <p>Please login into your new account.</p>
      </div>
    </div>
  </body>
</html>
