{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />
    <title>Sign Up</title>
    <link rel="stylesheet" href="{% static 'core/css/global.css' %}" />
    <link rel="stylesheet" href="{% static 'core/css/signup.css' %}" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap"
    />
  </head>
  <body>
    <div class="signup">
      <div class="whitePart">
        <h2>Sign Up</h2>
        <p>Create an account to Shop with us!</p>
        <div class="google">
          <img src="{% static 'core/images/google.jpg' %}" alt="">
          <h5>Sign Up with Google</h5>
        </div>
        <div class="or">
          <span></span>
          OR
          <span></span>
        </div>
        <form action="" method="post">
          {% csrf_token %}
          <div>
            <label for="firstName">First Name</label>
            <input type="text" name="firstName" id="firstName" placeholder="Enter your first name here">
          </div>
          <div>
            <label for="LastName">Last Name</label>
            <input type="text" name="LastName" id="LastName" placeholder="Enter your Last name here">
          </div>
          <div>
            <label for="email">Email address</label>
            <input type="email" name="email" id="email" placeholder="Enter your email address here">
          </div>
          <div>
            <label for="password">Create Password</label>
            <input type="password" name="password" id="password" placeholder="Create your Password">
          </div>
          <p>Must have at least 8 characters</p>

          <div>
            <button type="submit">Sign Up</button>
          </div>
          <p>Already have an account? <a href="">Login</a></p>
        </form>
      </div>
      <div class="redPart">
        <h2>Welcome!</h2>
        <p>Please register to create new account.</p>
      </div>
    </div>
  </body>
</html>
