<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />
    <title>Verify</title>
    <link rel="stylesheet" href="../css/global.css" />
    <link rel="stylesheet" href="../css/signup.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap"
    />
  </head>
  <body>
    <div class="signup verify">
      <div class="whitePart">
        <h2>Email Verification</h2>
        <p>Enter the code sent to your email inbox</p>
        <form action="" method="post">
          <div class="inputs">
            <input type="number">
            <input type="number">
            <input type="number">
            <input type="number">
            <input type="number">
            <input type="number">
          </div>
          <div>
            <button>Verify Email</button>
          </div>
          <p>Did receive the code? <a href="">Resend</a></p>
        </form>
      </div>
      <div class="redPart">
        <h2>Welcome!</h2>
        <p>Please register to create new account.</p>
      </div>
    </div>
  </body>
</html>
